<%- include('main-layout/header') %> <%- include('main-layout/navbar') %>


<link  href="css/addcar.css" rel="stylesheet">

<div id="body-car" class="row g-3">
  <div class="col-sm-10">
   Cars > List Car > <strong>Add New Car</strong>
  </div>
    <h5>Add New Car</h5>

  <div id="body-addcar1" class="container">
      <div class="mb-3 row">
        <label for="inputNama" class="col-sm-2 col-form-label"
          >Nama</label
        >
        <div class="col-sm-4">
          <input class="form-control" id="inputNama" placeholder="Nama" />
        </div>
      </div>

      <div class="mb-3 row">
        <label for="SewaPerHari" class="col-sm-2 col-form-label"
          >Sewa Per Hari</label
        >
        <div class="col-sm-4">
          <input class="form-control" id="inputSewa" placeholder="Rp. 0" />
        </div>
      </div>

      <div class="mb-3 row">
        <label for="Ukuran" class="col-sm-2 col-form-label"
          >Ukuran</label
        >
        <div class="col-sm-4">
          <select class="form-select" aria-label="Default select example" id="inputUkuran">
            <option selected>Open this select menu</option>
            <option value="1">Small</option>
            <option value="2">Medium</option>
            <option value="3">Large</option>
          </select>
        </div>
      </div>

      <div class="mb-3 row">
        <label for="inputImage" class="col-sm-2 col-form-label"
          >Foto</label
        >
        
        <div class="col-sm-4">
          <input type="file" class="form-control" id="inputGroupFile02">
          <div id="alertImage" class="form-text">File size max. 2MB</div>
        </div>
      </div>
    </div>
        <div class="col-sm-4">
            <div class="btn-group" role="group" aria-label="Basic outlined">
                <button type="button" class="btn rounded btn-outline-primary mt-3 ms-4" id="btn-cancel" >Cancel</button>
                <button type="button" class="btn rounded btn text-light mt-3 ms-3" id="btn-save" style="background-color: #0D28A6">Save</button>
            </div>
        </div>
  </div>
</div>

<script>
  var btnSave = document.getElementById('btn-save');
  var btnCancel = document.getElementById('btn-cancel');
  var btnNama = document.getElementById('inputNama');
  var btnSewa = document.getElementById('inputSewa');
  var btnUkuran = document.getElementById('inputUkuran');
  var btnImage = document.getElementById('inputGroupFile02');

  btnSave.addEventListener('click', function(){
    var formdata = new FormData();
    formdata.append("name", btnNama.value);
    formdata.append("priceperday", btnSewa.value);
    formdata.append("typeId", btnUkuran.value);
    formdata.append("images", btnImage.files[0]);

    var requestOptions = {
      method: 'POST',
      body: formdata,
      redirect: 'follow'
    };

    fetch("http://localhost:8000/api/v1/Cars", requestOptions)
      .then(response => response.text())
      .then(result =>window.location.href = "/")
      .catch(error => alert('error', error));
  });

  btnCancel.addEventListener('click', function(){
    window.location.href = "/";
  });
</script>

<%- include('main-layout/footer') %>
