<%- include('main-layout/header') %> 
<%- include('main-layout/navbar') %> 

<link rel="stylesheet" href="/css/edit.css">
<!-- <link rel="stylesheet" href="/css/style.css"> -->

<div id="body-car">
  <div class="col-sm-10">
   Cars > List Car > <strong>Update Car</strong>
  </div>
    <h5>Update Car</h5>

  <div id="body-addcar1" class="container">
      <div class="mb-3 row">
        <label for="inputNama" class="col-sm-2 col-form-label"
          >Nama</label
        >
        <div class="col-sm-4">
          <input class="form-control" id="inputNama" value="<%= cars.name %>" placeholder="Nama" />
        </div>
      </div>

      <div class="mb-3 row">
        <label for="SewaPerHari" class="col-sm-2 col-form-label"
          >Sewa Per Hari</label
        >
        <div class="col-sm-4">
          <input class="form-control" id="inputSewa" value="<%= cars.priceperday %>" placeholder="Rp. 0" />
        </div>
      </div>

      <div class="mb-3 row">
        <label for="Ukuran" class="col-sm-2 col-form-label"
          >Ukuran</label
        >
        <div class="col-sm-4">
          <select class="form-select" aria-label="Default select example" id="inputUkuran">
            <option value="1" <%= cars.typeId === 1 && 'selected' %> >Small</option>
            <option value="2" <%= cars.typeId === 2 && 'selected' %>>Medium</option>
            <option value="3" <%= cars.typeId === 3 && 'selected' %>>Large</option>
          </select>
        </div>
      </div>

      <div class="mb-3 row">
        <label for="inputImage" class="col-sm-2 col-form-label"
          >Foto</label
        >
        
        <div class="col-sm-4">
          <input type="file" class="form-control" id="inputGroupFile02" value="<%= cars.images %>">
          <div id="alertImage" class="form-text">File size max. 2MB</div>
        </div>
      </div>
      </div>
        <div class="col-sm-4">
            <div class="btn-group" role="group" aria-label="Basic outlined">
                 <button type="button" class="btn rounded btn-outline-primary mt-3 ms-4" id="btn-cancel" >Cancel</button>
                <button type="button" class="btn rounded btn text-light mt-3 ms-3" id="btn-save" style="background-color: #0D28A6">Save</button>
            </div>
        </div>
      </div>
</div>

<script>
  var btnSave = document.getElementById('btn-save');
  var btnCancel = document.getElementById('btn-cancel');
  var btnNama = document.getElementById('inputNama');
  var btnSewa = document.getElementById('inputSewa');
  var btnUkuran = document.getElementById('inputUkuran');
  var btnImage = document.getElementById('inputGroupFile02');

  btnSave.addEventListener('click', function(){
    var formdata = new FormData();
    formdata.append("name", btnNama.value);
    formdata.append("priceperday", btnSewa.value);
    formdata.append("typeId", btnUkuran.value);
    formdata.append("images", btnImage.files[0]);

    var requestOptions = {
      method: 'PUT',
      body: formdata,
      redirect: 'follow'
    };

    fetch("http://localhost:8000/updatecar/<%= cars.id %>", requestOptions)
      .then(response => response.text())
      .then(result =>window.location.href = "/")
      .catch(error => alert('error', error));
  });
   btnCancel.addEventListener('click', function(){
    window.location.href = "/";
  });
</script>

<%- include('main-layout/footer') %>
