<%- include('main-layout/header') %> 
<%- include('main-layout/navbar') %> 

<!-- CSS -->
<link href="../css/listcar.css" rel="stylesheet" />
    
<div id="body-car">
  <div class="mt-4 mx-4">
    <strong>Cars ></strong> List Car
  </div>

  <div class="row justify-content-between mt-4">
    <div class="col-4 ms-4">
      <h5><strong> List Car</strong></h5>
    </div>
    <div class="col-4 text-end me-4">
      <a href="/addcar" type="button" class="btn text-light" style="background-color: #0D28A6;" id="btn-add"><i class="bi bi-plus pe-1" ></i>Add New Car</a>
      
    </div>
  </div>

  <div class="btn-group" role="group" aria-label="Basic outlined">
    <button type="button" class="btn rounded btn-outline-primary mt-3 ms-4" id="btn-all" >All</button>
    <button type="button" class="btn rounded btn-outline-primary mt-3 ms-3" id="btn-small">Small</button>
    <button type="button" class="btn rounded btn-outline-primary mt-3 ms-3" id="btn-medium">Medium</button>
    <button type="button" class="btn rounded btn-outline-primary mt-3 ms-3" id="btn-large">Large</button>
  </div>

  <div class="container text-center mt-4">
    <img src="<%= imageurl%>" width="250" height="auto" alt="">
    <h2 class="text-center w-100 mt-2"><%= empty %></h2>
  </div>
  
  <div class="row row-cols-1 row-cols-md-3 g-4 my-3 mx-3" id="container">   
      <% cars.forEach(car => { %>
        <% for(let cars in car){%>
        <div class="col">
            <div class="card h-100">
            
              <img src="<%= car[cars].images %>" class="card-img-top p-2" alt="<%= car.images %>">
              <div class="card-body">
                <p class="card-title"><%= car[cars].name %> / <% typeCar.forEach(type => { %>
                  <% if(type.id == car[cars].typeId) { %>
                    <%= type.typeCar %>
                  <% } %>
                <% }) %></p>
                <b class="card-text fs-5"> <%= car[cars].priceperday %>  / hari</b>
                <p class="card-text text-muted mt-2"><i class="bi bi-clock pe-2"></i>Updated at <%= car[cars].updatedAt.getDate() %>-<%= car[cars].updatedAt.getMonth() %>-<%= car[cars].updatedAt.getFullYear() %>, 
                  <%= car[cars].updatedAt.getHours() %>.<%= car[cars].updatedAt.getMinutes() %> </p>
                <div class="row">
                  <div class="col-md-6">
                    <div class="d-grid gap-2">
                      <a class="button btn btn-outline-danger modal-delete" type="button" href="" id="buttondelete" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-trash pe-1"></i><b>Delete</b>
                      </a>
                     
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="d-grid gap-2">
                      <a href="/editcar/<%= car[cars].id %>" class="button btn text-light" type="button" style="background-color: #5CB85F;"><i class="bi bi-pencil-square pe-1" id="btn-edit"></i></i><b>Edit</b></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      
          
         <div class='modal fade' id='exampleModal' tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true'><div class='modal-dialog'><div class='modal-content'><div class='modal-body align-self-center text-center'><img src='/img/asset-car.png' class='img-fluid'><h5>Menghapus Data Mobil</h5><p>Setelah dihapus, data mobil tidak dapat dikembalikan. Yakin ingin menghapus ?</p><a href = '/deletecar/<%=car[cars].id %>' style='width: 70px; margin-right: 15px;' type='button' class='btn btn-primary'>Ya</a><button style='margin-left: 15px;' type='button' class='btn btn-outline-primary' data-bs-dismiss='modal'>Tidak</button></div></div></div></div>
      <% }}) %> 
  </div>
  
</div>


<script>
  var btnAll = document.getElementById('btn-all');
  var btnSmall = document.getElementById('btn-small');
  var btnMedium = document.getElementById('btn-medium');
  var btnLarge = document.getElementById('btn-large');
  var container = document.getElementById('container');
 
  	btnAll.addEventListener('click', function(){
			container.innerHTML = `
      <% cars.forEach(car => { 
        for(let cars in car){%>
        <div class="col">
            <div class="card h-100">
              <img src="<%= car[cars].images %>" class="card-img-top p-2" alt="<%= car.images %>">
              <div class="card-body">
                <p class="card-title"><%= car[cars].name %> / <% typeCar.forEach(type => { %>
                  <% if(type.id == car[cars].typeId) { %>
                    <%= type.typeCar %>
                  <% } %>
                <% }) %></p>
                <b class="card-text fs-5"> <%= car[cars].priceperday %>  / hari</b>
                <p class="card-text text-muted mt-2"><i class="bi bi-clock pe-2"></i>Updated at <%= car[cars].updatedAt.getDate() %>-<%= car[cars].updatedAt.getMonth() %>-<%= car[cars].updatedAt.getFullYear() %>, 
                  <%= car[cars].updatedAt.getHours() %>.<%= car[cars].updatedAt.getMinutes() %> </p>
                <div class="row">
                  <div class="col-md-6">
                    <div class="d-grid gap-2">
                      <a href="" class="button btn btn-outline-danger" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-trash pe-1" ></i><b>Delete</b></a>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="d-grid gap-2">
                      <a href="/editcar/<%= car[cars].id %>" class="button btn text-light" type="button" style="background-color: #5CB85F;"><i class="bi bi-pencil-square pe-1" id="btn-edit"></i></i><b>Edit</b></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body align-self-center text-center">
                    <img src="/img/asset-car.png" class="img-fluid">
                    <h5>Menghapus Data Mobil</h5>
                    <p>Setelah dihapus, data mobil tidak dapat dikembalikan. Yakin ingin menghapus ?</p>
                    <a href = "/deletecar/<%=car[cars].id %>" style="width: 70px; margin-right: 15px;" type="button" class="btn btn-primary">  Ya  </a>
                    <button style="margin-left: 15px;" type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Tidak</button>
                </div>
              </div>
            </div>
        </div>
      <% }}) %> `;
		});

    btnSmall.addEventListener('click', function(){
      container.innerHTML = ` <% cars.forEach(car => { 
         for(let cars in car){%>
        <% if (car[cars].typeId == 1) { %>
          <div class="col">
            <div class="card h-100">
              <img src="<%= car[cars].images %>" class="card-img-top p-2" alt="<%= car[cars].images %>">
              <div class="card-body">
                <p class="card-title"><%= car[cars].name %> / <% typeCar.forEach(type => { %>
                  <% if(type.id == car[cars].typeId) { %>
                    <%= type.typeCar %>
                  <% } %>
                <% }) %></p>
                <b class="card-text fs-5"> <%= car[cars].priceperday %>  / hari</b>
                <p class="card-text text-muted mt-2"><i class="bi bi-clock pe-2"></i>Updated at <%= car[cars].updatedAt.getDate() %>-<%= car[cars].updatedAt.getMonth() %>-<%= car[cars].updatedAt.getFullYear() %>, 
                  <%= car[cars].updatedAt.getHours() %>.<%= car[cars].updatedAt.getMinutes() %> </p>
                <div class="row">
                  <div class="col-md-6">
                    <div class="d-grid gap-2">
                      <a href="" class="button btn btn-outline-danger" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-trash pe-1"></i><b>Delete</b></a>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="d-grid gap-2">
                      <a href="/editcar/<%= car.id %>" class="button btn text-light" type="button" style="background-color: #5CB85F;"><i class="bi bi-pencil-square pe-1" id="btn-edit"></i></i><b>Edit</b></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body align-self-center text-center">
                    <img src="/img/asset-car.png" class="img-fluid">
                    <h5>Menghapus Data Mobil</h5>
                    <p>Setelah dihapus, data mobil tidak dapat dikembalikan. Yakin ingin menghapus ?</p>
                    <a href = "/deletecar/<%=car.id %>" style="width: 70px; margin-right: 15px;" type="button" class="btn btn-primary">  Ya  </a>
                    <button style="margin-left: 15px;" type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Tidak</button>
                </div>
              </div>
            </div>
        </div>
        <% }}%>
      <% }) %>`;
    });

    btnMedium.addEventListener('click', function(){
      container.innerHTML = `<% cars.forEach(car => { 
         for(let cars in car){%>
        <% if (car[cars].typeId == 2) { %>
          <div class="col">
            <div class="card h-100">
              <img src="<%= car[cars].images %>" class="card-img-top p-2" alt="<%= car[cars].images %>">
              <div class="card-body">
                <p class="card-title"><%= car[cars].name %> / <% typeCar.forEach(type => { %>
                  <% if(type.id == car[cars].typeId) { %>
                    <%= type.typeCar %>
                  <% } %>
                <% }) %></p>
                <b class="card-text fs-5"> <%= car[cars].priceperday %>  / hari</b>
                <p class="card-text text-muted mt-2"><i class="bi bi-clock pe-2"></i>Updated at <%= car[cars].updatedAt.getDate() %>-<%= car[cars].updatedAt.getMonth() %>-<%= car[cars].updatedAt.getFullYear() %>, 
                  <%= car[cars].updatedAt.getHours() %>.<%= car[cars].updatedAt.getMinutes() %> </p>
                <div class="row">
                  <div class="col-md-6">
                    <div class="d-grid gap-2">
                      <a href="" class="button btn btn-outline-danger" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-trash pe-1"></i><b>Delete</b></a>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="d-grid gap-2">
                      <a href="/editcar/<%= car.id %>" class="button btn text-light" type="button" style="background-color: #5CB85F;"><i class="bi bi-pencil-square pe-1" id="btn-edit"></i></i><b>Edit</b></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body align-self-center text-center">
                    <img src="/img/asset-car.png" class="img-fluid">
                    <h5>Menghapus Data Mobil</h5>
                    <p>Setelah dihapus, data mobil tidak dapat dikembalikan. Yakin ingin menghapus ?</p>
                    <a href = "/deletecar/<%=car.id %>" style="width: 70px; margin-right: 15px;" type="button" class="btn btn-primary">  Ya  </a>
                    <button style="margin-left: 15px;" type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Tidak</button>
                </div>
              </div>
            </div>
        </div>
        <% }}%>
      <% }) %>`;
    });

    btnLarge.addEventListener('click', function(){
      container.innerHTML = `<% cars.forEach(car => { 
         for(let cars in car){%>
        <% if (car[cars].typeId == 3) { %>
          <div class="col">
            <div class="card h-100">
              <img src="<%= car[cars].images %>" class="card-img-top p-2" alt="<%= car[cars].images %>">
              <div class="card-body">
                <p class="card-title"><%= car[cars].name %> / <% typeCar.forEach(type => { %>
                  <% if(type.id == car[cars].typeId) { %>
                    <%= type.typeCar %>
                  <% } %>
                <% }) %></p>
                <b class="card-text fs-5"> <%= car[cars].priceperday %>  / hari</b>
                <p class="card-text text-muted mt-2"><i class="bi bi-clock pe-2"></i>Updated at <%= car[cars].updatedAt.getDate() %>-<%= car[cars].updatedAt.getMonth() %>-<%= car[cars].updatedAt.getFullYear() %>, 
                  <%= car[cars].updatedAt.getHours() %>.<%= car[cars].updatedAt.getMinutes() %> </p>
                <div class="row">
                  <div class="col-md-6">
                    <div class="d-grid gap-2">
                      <a href="" class="button btn btn-outline-danger" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-trash pe-1"></i><b>Delete</b></a>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="d-grid gap-2">
                      <a href="/editcar/<%= car.id %>" class="button btn text-light" type="button" style="background-color: #5CB85F;"><i class="bi bi-pencil-square pe-1" id="btn-edit"></i></i><b>Edit</b></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body align-self-center text-center">
                    <img src="/img/asset-car.png" class="img-fluid">
                    <h5>Menghapus Data Mobil</h5>
                    <p>Setelah dihapus, data mobil tidak dapat dikembalikan. Yakin ingin menghapus ?</p>
                    <a href = "/deletecar/<%=car.id %>" style="width: 70px; margin-right: 15px;" type="button" class="btn btn-primary">  Ya  </a>
                    <button style="margin-left: 15px;" type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Tidak</button>
                </div>
              </div>
            </div>
        </div>
        <% }}%>
      <% }) %>`;
    });

    
	
</script>
<!-- sweet alert -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

<%- include('main-layout/footer') %> 
