/* #body-addcar {
  width: calc(100%-90px);
  margin-left: 90px;
  padding: 25px;
  transition: all 0.4s;
}

#body-addcar1 {
  background-color: #ffffff;
  padding-top: 25px;
}

body {
  background-color: #f4f5f7;
} */

.card {
  border-radius: 10px;
}

#body-addcar1 {
  background-color: #ffffff;
  padding: 25px;
}
