body {
    background-color: #F4F5F7;
}

.card{
    border-radius: 10px;
}

.button{
    width: auto;
    height: 45px;
}

.card-img-top{
    width: auto;
    height: 300px;
    object-fit: cover;
}