/*------------------------------------------------- style body */
body {
  background-color: #e5e5e5;
  overflow-x: hidden;
}
/* -----------------------------------------------style sidebar */
#wrapper {
  align-items: stretch;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.4s;
  z-index: 1;
}

#sidebar {
  min-width: 90px;
  max-width: 90px;
  min-height: 100vh;
  background: #0d28a6;
}

.link-item :hover {
  background: #ffffff4d;
}

.link-sidecar :hover {
  background: #cfd4ed;
}

.link-sidecar > li {
  padding: 12px 15px;
}

#sidecar {
  width: 220px;
  background-color: white;
  margin-left: -220px;
  position: fixed;
  height: 100vh;
  transition: all 0.4s;
  z-index: -1;
}

#sidecar > nav > ul > li {
  padding: 12px 15px;
}

/*---------------------------------------- style toggle sidebar */
#content {
  width: calc(100%-90px);
  margin-left: 90px;
  background-color: #ffffff;
  height: 70px;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-header {
  display: flex;
  flex-wrap: wrap;
}

/*-------------------------------------- for toggle activation */
#wrapper.active {
  margin-left: -90px;
}
#content.active {
  width: 100%;
  margin: 0;
}
#body-car.active {
  width: 100%;
  margin: 0;
}

#sidecar.active {
  margin-left: 90px;
  z-index: 0;
}
#body-car.active2 {
  margin-left: 300px;
}

/* --------------------------------------------------body list car */
#body-car {
  width: calc(100%-90px);
  margin-left: 90px;
  padding: 25px;
  transition: all 0.4s;
}

/* ----------------------------------------------style input search */
.input-search {
  border: 1px solid #d0d0d0;
  padding: 6px 10px;
  border-radius: 5px;
}

.icon-search {
  color: #d0d0d0;
}

.input-search > input:focus {
  outline: none;
}
