 <!-- Option 1: Bootstrap Bundle with Popper -->
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
 <!-- fontawesome -->
 <script src="https://kit.fontawesome.com/26a7f3b810.js" crossorigin="anonymous"></script>
 



 <!-- custom js toggle menu-->
 <script type="text/javascript">
   function toggleSideBar(){
     let sidebar = document.getElementById('wrapper');
     let content = document.getElementById('content');
     let bodycar = document.getElementById('body-car');
     let menu = document.getElementById('sidecar');
     let bodyaddcar = document.getElementById('body-addcar');

     sidebar.classList.toggle('active');
     content.classList.toggle('active');
     bodycar.classList.toggle('active');
     menu.classList.remove('active');
     bodycar.classList.remove('active2');
   }

  //  toggle show menu in cars button/link
  function showMenu(){
    let menu = document.getElementById('sidecar');
    let bodycar = document.getElementById('body-car');

    menu.classList.toggle('active');
    bodycar.classList.toggle('active2');

  }
 </script>
</body>
</html>