<!-- sidebar -->
<div id="wrapper">
  <nav id="sidebar">
    <ul class="list-unstyled text-center">
      <li>
        <p class="text-light pt-3">BCR</p>
      </li>
      <a href="/" class="link-item text-decoration-none text-light">
        <li class="mb-2 p-2">
          <i class="fa-solid fa-house"></i><br>
          Dashboard
        </li>
      </a>
      <a href="#" onclick="showMenu()" class="link-item text-decoration-none text-light">
        <li class="p-2">
          <i class="fa-solid fa-truck"></i><br>
          Cars
        </li>
      </a>
    </ul>
  </nav>
</div>

<!-- toggle sidebar -->
<div id="content" class="p-2">
  <div class="d-flex align-items-center bd-highlight">
    <div class="me-auto p-2 bd-highlight">
      <a class="navbar-brand">BCR</a>
      <button type="button" id="sidebarCollapse" onclick="toggleSideBar()" class="btn ">
      <i class="fa-solid fa-bars fa-lg"></i>
      </button>
    </div>
    <div class="p-2 bd-highlight">
      <form action="/" class="d-flex align-items-center">
        <div class="input-search">
          <i class="fa-solid fa-magnifying-glass fa-lg px-2 icon-search"></i>
          <input class="me-2 border-0" type="search" name="car" placeholder="Search" aria-label="Search" id="search">
        </div>
        <button class="btn btn-outline-primary">Search</button>
      </form>
    </div>
    <div class="p-2 bd-highlight d-flex align-items-center">
      <img src="/img/icon-prof.png" alt="icon-profile" class="mx-2">
      <p class="mx-2 my-0">Unis Badri</p>
      <i class="fa-solid fa-chevron-down mx-2"></i>
    </div> 
  </div>
</div>

<!-- list item cars -->
<div id="sidecar">
  <nav>
    <ul class="list-unstyled text-start">
      <li style="color:#8A8A8A;font-weight: 700;">CARS</li>
      <a href="/" class="text-decoration-none text-dark fw-bold  link-sidecar">
        <li>List Car</li>
      </a>
    </ul>
  </nav>
</div>
